@page "/notes"

<h1>Notes</h1>



<div class="container-fluid row text-center">

    @foreach(var category in Enum.GetValues<Category>())
    {
         <div class="col">
            <div class="card" style="width: 9rem;">
                <div class="card-body">

                    <button type="button" class="btn btn-primary" id=@($"button-{category}")>
                        @category
                    </button>
                </div>
            </div>
        </div>

        <text>&nbsp;</text>
    }

</div>

<ul>
    @foreach (var note in notes)
    {
        <li>
            <a href=@($"/notes/edit/{note.Id}")>@note.Title</a>
        </li>
    }
</ul>

@code {
    private List<Note> notes = NotesRepository.GetNotes();
}
