@page "/notes"
@rendermode InteractiveWebAssembly

<h1>Notes Home</h1>

<div class="container-fluid row text-center">

    @foreach(var category in Enum.GetValues<Category>())
    {
         <div class="col">
            <div class="card" style="width: 9rem;">
                <div class="card-body">

                    <button type="button" class="btn btn-primary" id=@($"button-{category}")>
                        @category
                    </button>
                </div>
            </div>
        </div>

        <text>&nbsp;</text>
    }

</div>


<div class="col"> 
    <button type="button" class="btn btn-primary" id="new-note-btn" @onclick="@AddNote">New note</button>
</div>


<ul>
    
    @if(Notes is not null)
    {
        @foreach (var note in Notes)
        {
            <li>
                <a href="/notes/edit/@note.Id">@note.Title</a>
            </li>
        }
    }

</ul>
