@page "/notes"

<h1>Notes</h1>

<ul>
    @foreach(var category in Enum.GetValues<Category>())
    {
        <li>
            <button id=@($"button-{category}")>
                @category
            </button>
        </li>
    }

</ul>

<ul>
    @foreach(var note in notes)
    {
        <li>
            @note.Title
        </li>
    }
</ul>

@code {
    private List<Note> notes = NotesRepository.GetNotes();
}
