@page "/notes"

<h1>Notes</h1>



<div class="container-fluid text-center">

    @foreach(var category in Enum.GetValues<Category>())
    {
        
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="..." alt="Card image cap">
                <div class="card-body">

                    <button type="button" class="btn btn-primary" id=@($"button-{category}")>
                        @category
                    </button>
                </div>
            </div>
        </div>

        <text>&nbsp;</text>
    }

</div>

<ul>
    @foreach(var note in notes)
    {
        <li>
            @note.Title
        </li>
    }
</ul>

@code {
    private List<Note> notes = NotesRepository.GetNotes();
}
