@page "/notes/edit/{id:int}"

@if(note != null)
{
    <EditForm Model="note" FormName="formNotePage" OnSubmit="Submit">
        <InputNumber @bind-Value="note.Id" hidden></InputNumber>
        
        <div class="row mb-3">
            <div class="col-2">
                <label class="col-form-label">Title</label>
            </div>
            <div class="col-6">
                <InputText @bind-Value="note.Title" class="form-control"></InputText>
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-8">
                <InputTextArea @bind-Value="note.Body" class="form-control"></InputTextArea>
            </div>
        </div>

        <br/>

        <button class="btn btn-primary" type="submit">Save</button>

    </EditForm>
}

<br />

<a href="/notes" class="btn btn-primary">Close</a>
