@page "/notes/edit/{id:int}"

@if(note != null)
{
    <h1>@note.Title</h1>
    <p>@Id</p>
    <p>@note.Body</p>
}

<a href="/notes" class="btn btn-primary">Notes</a>

  @* <InputTextArea></InputTextArea> *@
